SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=info@do-goals.ru

BASE_API_HOST=https://do-goals.online

NEXT_PUBLIC_BASE_API_HOST=https://do-goals.online
NEXT_PUBLIC_BASE_IMAGE_URL=/blog-api/static
